.carosuolImage {
  height: 260px;
  border-radius: 10px;
}
.HotelCard {
  position: relative;
  flex-grow: 20%;
  margin: 30px 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.carusoulSider {
  height: 260px;

  border-radius: 10px;
  overflow: hidden;
}
.HotelCardCarosuol {
  border-radius: 10px;
}
.HotelCardInfo {
  line-height: 0.4;
  margin-top: -8px;
}
.HotelCardInfo p {
  font-size: 13px;
  color: #717188;
}
.LikeButton {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
}
.carousel .thumbs {
  display: none;
}
.carousel .carousel-status {
  display: none;
}
.carousel .slide img {
  width: 140% !important;
  vertical-align: top;
  border: 0;
  overflow: hidden;
}
.carousel-root {
  outline: none;
  padding: 0;
  height: auto;
  margin-bottom: -35px;
  border-radius: 10px;
  overflow: hidden;
}
.carousel.carousel-slider {
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 20%;
  }
}
